[submodule "backend"]
	path = backend
	url = git@github.com:werner94fribourg/stripe-complete-course-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:werner94fribourg/stripe-complete-course-frontend.git
